#title, h1{
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}

#img-div{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#tribute-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

#image{
  max-width: 100%;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
li{
  width: 500px;
  padding: 10px;
}
.testimony{
  width: 500px;
  font-style: italic;
}

label, .description{
  font-weight: bold;
}

.conclusion{
  text-align: center;
  font-weight: bold;
}


